@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}


.bg-test-background {
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}